<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/1.png" type="image/x-png">
    <title>Xp Zone - Vendas </title>
    <link rel="stylesheet" href="/static/CSS/index.CSS">
    <link rel="stylesheet" href="/static/CSS/clientes.CSS">
    <link rel="stylesheet" href="/static/CSS/vendas.CSS">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <!--================= Corpo ================-->
    <main>
        <div class="menus">
            <nav class="menu-lateral">
                <ul>
                    <div class="btn-expandir">
                        <i class="bi bi-list"></i>
                    </div>
                    <li class="item-menu">
                        <a href="{{ url_for('index') }}">
                            <span class="icon"><i class="bi bi-house"></i></span>
                            <span class="text">Home</span>
                        </a>
                    </li>
                    <li class="item-menu">
                        <a href="{{ url_for('dashboard') }}">
                            <span class="icon"><i class="bi bi-layout-wtf"></i></span>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    <li class="item-menu">
                        <a href="{{ url_for('vendas') }}">
                            <span class="icon"><i class="bi bi-cart-check"></i></span>
                            <span class="text">Vendas</span>
                        </a>
                    </li>
                    <li class="item-menu">
                        <a href="{{ url_for('produtos') }}">
                            <span class="icon"><i class="bi bi-basket2"></i></span>
                            <span class="text">Produtos e Serviços</span>
                        </a>
                    </li>
                    <li class="item-menu">
                        <a href="{{ url_for('clientes') }}">
                            <span class="icon"><i class="bi bi-person-check"></i></span>
                            <span class="text">Clientes</span>
                        </a>
                    </li>
                    <li class="item-menu">
                        <a href="{{ url_for('vendedores') }}">
                            <span class="icon"><i class="bi bi-person-plus"></i></span>
                            <span class="text">Vendedores</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!--================= Conteudo da tela ================-->
            <div class="container">
                <div class="imagens">
                    <div class="centr-icon">
                        <i class="bi bi-cart-check"></i>
                    </div>
                    <div class="centr-img">
                        <img src="/static/images/6.png" alt="">
                    </div>
                </div>
                <h1>Vendas</h1>
                <div class="formulario">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="mensagem-sucesso" id="mensagem">
                                <div class="img-container">
                                    <img src="/static/images/5.png" alt="" class="img-mensagem">
                                </div>
                                <div class="texto-mensagem">
                                    <i class="bi bi-cart-check"></i>
                                    {{ messages[0] }}
                                </div>
                            </div>
                        {% endif %}
                    {% endwith %}

                    <form action="{{ url_for('vendas') }}" method="POST">
                        <div class="conj-inp">
                            <input type="text" placeholder="Nome do Produto/Serviço" class="inp-produto2" name="inp-produto" list="produtos" required>
                            <datalist id="produtos">
                                {% for produto in produtos %}
                                    <option value="{{ produto['nome_produtos_servicos'] }}"></option>
                                {% endfor %}
                            </datalist>

                            <input type="number" placeholder="Desconto" class="inp-desconto" name="inp-desconto" > <i class="bi bi-percent"></i>
                        </div>
                        <div class="conj-inp">    
                            <input type="text" placeholder="Nome do Vendedor" class="inp-vendedor" name="inp-vendedor" list="vendedores" required>
                            <datalist id="vendedores">
                                {% for vendedor in vendedores %}
                                    <option value="{{ vendedor['nome_vendedores'] }}"></option>
                                {% endfor %}
                            </datalist>

                            <input type="text" placeholder="Cliente" class="inp-cliente2" name="inp-cliente" list="clientes" required>
                            <datalist id="clientes">
                                {% for cliente in clientes %}
                                    <option value="{{ cliente['nome_clientes'] }}"></option>
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="conj-inp">

                            <select name="se-departamento" id="se-departamento" class="inp-departamento" required>
                                <option value="" disabled selected> Seleciona o departamento</option>
                                <option value="Loja física">Loja física</option>
                                <option value="Loja online">Loja online</option>
                            </select>

                            <input type="date" class="inp-data" name="inp-data" required>
                        </div>
                        <button class="btn-cadastrar" type="submit" name="cadastrar" value="cadastrar">
                            <span class="icon"><i class="bi bi-cloud-check"></i></span>
                            <span class="text">Cadastrar</span>
                        </button>
                    </form>
                </div>
                <div class="tabela">
                    <div class="scroll">
                        <table>
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Vendedor</th>
                                    <th>Cliente</th>
                                    <th>Produto/Serviço</th>
                                    <th>Departamento</th>
                                    <th>Valor</th>
                                    <th>Desconto</th>
                                    <th>Valor Final</th>
                                    <th>Data</th>
                                </tr>
                            </thead>
                            {% for venda in vendas %}
                            <tbody>
                                <tr>
                                    <td>{{ venda['idvendas'] }}</td>
                                    <td>{{ venda['nome_vendedores'] }}</td>
                                    <td>{{ venda['nome_clientes'] }}</td>
                                    <td>{{ venda['nome_produtos_servicos'] }}</td>
                                    <td>{{ venda['vendas_departamento'] }}</td>
                                    <td>R${{ venda['valor_produtos_servicos'] }}</td>
                                    <td>{{ venda['desconto'] }}%</td>
                                    <td>R${{ venda['valor_final'] }}</td>
                                    <td>{{ venda['vendas_data'] }}</td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--================= Rodape ================-->
    <footer>
        <div class="txt-rodape">
            <div class="grupo">
                <h2 class="titulo-rodape">Desenvolvedores</h2>
                <h2>Bryan Rodrigues Martins</h2>
                <h2>Davi Matias Silva</h2>
                <h2>Ítalo Alves Espíndula</h2>
                <h2>João Vitor Dias Gonçalves</h2>
                <h2>Samarha Oliveira Freitas</h2>
            </div>
            <div class="grupo">
                <h2 class="titulo-rodape">Tecnologias</h2>
                <h2>Python (Back-end)</h2>
                <h2>Framewoks (Pandas, Plotly, Dash)</h2>
                <h2>HTML e CSS</h2>
                <h2>MySQL Workbench</h2>
            </div>
            <div class="grupo">
                <h2 class="titulo-rodape">Detalhes</h2>
                <h2>Os dados utilizados para o desenvolvimento <br> deste site são totalmente ficticiosos.</h2>
                
            </div>
        </div>
        <div class="rodape">
            <p>&copy; 2025 XP Zone - Todos os direitos reservados.</p>
        </div>
    </footer>
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const mensagem = document.getElementById('mensagem');
            if (mensagem) {
                // Adiciona a classe que ativa a transição
                setTimeout(() => {
                    mensagem.classList.add('show');
                }, 100); // pequena espera para aplicar a transição
    
                // Remove após 4 segundos
                setTimeout(() => {
                    mensagem.classList.remove('show');
                }, 5000);
    
                // Remove do DOM depois de sumir (opcional)
                setTimeout(() => {
                    mensagem.remove();
                }, 6000);
            }
        });
    </script>
</body>
</html>